#root {
  width: 1400px;
  height: 2253px;
  position: relative;
}
.logo-container {
  width: 1400px;
  height: 130px;
  background-color: #ffffff;
}
.company-logo {
  width: 466px;
  height: 72px;
  color: #000000;
  font-family: "Lucida Calligraphy";
  font-size: 60px;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 3px;
  position: absolute;
  top: 31px;
  right: 469px;
}

.carousel-slide {
  position: relative;
  width: 1400px;
  height: 418px;
}

.carousel.carousel-slide.active {
  display: block;
}

.carousel-caption {
  text-align: center;
  display: block;
  justify-content: center;
}

.carousel-caption-header {
  position: absolute;
  top: 137px;
  left: 305px;
  bottom: 223px;
  display: inline-block;
  width: 792px;
  height: 58px;
  color: #ffffff;
  font-family: "Yu Go";
  font-size: 55px;
  font-weight: bold;
  line-height: 80px;
  letter-spacing: 3px;
}

.carousel-caption-text {
  position: absolute;
  top: 241px;
  left: 418px;
  display: inline-block;
  width: 565px;
  height: 39px;
  color: #ffffff;
  font-family: "Yu Go";
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.8px;
  margin-top: 46px;
}
